#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
#main {
  background-color: #393e46;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;
}
#main:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}
#loginHeading h2 {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#usernameDiv,
#emailDiv,
#passwordDiv {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  gap: 5px;
}
#main input {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}
#formSubmitDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#submitButton {
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #222831;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#submitButton:hover {
  background-color: #00adb5;
  color: black;
}
#submitButton:active {
  opacity: 0.7;
}
#signupLinkDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
