#postPageContainer {
  color: black;
  margin: 20px;
  gap: 50px;
  height: 90vh;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}
#postDiv {
  width: 60%;
  overflow: auto;
}
#commentsDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
}
#postDiv,
#commentsDiv {
  background-color: #eeeeee;
  padding: 30px 60px;
  border-radius: 20px;
}
#postHeading {
  font-size: 50px;
}
#subHeading {
  display: flex;
  gap: 20px;
}
#postDesc {
  font-size: 20px;
}
.commentContainer {
  background-color: #393e46;
  color: white;
  padding: 10px 20px;
}
