body {
  background-color: #222831;
  font-family: "DM Sans", sans-serif;
  color: #eeeeee;
  margin: 0;
}
nav {
  display: flex;
  background-color: #393e46;
  font-size: 20px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
.active {
  background-color: #222831;
  padding: 10px 15px;
  border-radius: 10px;
}
#rightNav {
  display: flex;
  gap: 20px;
}
#rightNav a {
  padding: 10px 15px;
  border-radius: 10px;
}
#logoutButton {
  background-color: #222831;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}
#logoutButton:hover {
  background-color: #00adb5;
  color: black;
  box-shadow: 0 0 0 3px black;
  transform: scale(1.05);
}
#logoutButton:active {
  transform: scale(1);
  opacity: 0.8;
}
