body {
  background-color: #222831;
  font-family: "DM Sans", sans-serif;
  color: #eeeeee;
  margin: 0;
}
nav {
  display: flex;
  background-color: #393e46;
  font-size: 20px;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}
a {
  text-decoration: none;
  color: white;
}
.active {
  background-color: #222831;
  padding: 10px 15px;
  border-radius: 10px;
}
#rightNav {
  display: flex;
  gap: 20px;
}
#rightNav a {
  padding: 10px 15px;
  border-radius: 10px;
}
