#main div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#main {
  min-width: 500px;
}
textarea {
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 20px;
}
#postSubmitButton {
  width: auto;
  padding: 10px 20px;
  display: inline-block;
}
